<template>
  <div class="about">
    <section id="about">

      <div class="row about-wrap">
        <div class="col-full">

          <div class="about-profile-bg"></div>

          <div class="intro">
            <h3 class="animate-this">About Us</h3>
            <p class="lead animate-this"><span>Portnick</span> {{ textAbout }} </p>
          </div>

        </div> <!-- end col-full  -->
      </div> <!-- end about-wrap  -->

    </section> <!-- end about -->
  </div>
</template>

<script>
export default {
  name: 'About',
  props: {
    textAbout: String
  }
}
</script>
