<template>
  <div class="clients">
    <section id="clients">

      <div class="row animate-this">
        <div class="col-twelve">

          <div class="client-lists owl-carousel">
            <div><img
                src="assets/images/clients/vue.png"
                alt="Vue"
              ></div>
            <div><img
                src="assets/images/clients/nodejs.png"
                alt="Node JS"
              ></div>
            <div><img
                src="assets/images/clients/bootstap.png"
                alt="bootstap"
              ></div>
            <div><img
                src="assets/images/clients/sass.png"
                alt="sass"
              ></div>
            <div><img
                src="assets/images/clients/opencart.png"
                alt="opencart"
              ></div>
            <div><img
                src="assets/images/clients/wordpress.png"
                alt="wordpress"
              ></div>
            <div><img
                src="assets/images/clients/github.png"
                alt="github"
              ></div>
            <div><img
                src="assets/images/clients/mysql.png"
                alt="mysql"
              ></div>
            <div><img
                src="assets/images/clients/ee.png"
                alt="Expression Engine"
              ></div>
            <div><img
                src="assets/images/clients/jQuery.png"
                alt="jQuery"
              ></div>
            <div><img
                src="assets/images/clients/ci.png"
                alt="Codeigniter"
              ></div>
            <div><img
                src="assets/images/clients/php.png"
                alt="php"
              ></div>
          </div>

        </div> <!-- end col-twelve -->
      </div> <!-- end row -->

    </section> <!-- end clients -->
  </div>
</template>

<script>
export default {
  name: 'clients'
}
</script>
