<template>
    <div class="contact">
        <section id="contact">

            <div class="overlay"></div>

                <div class="row narrow section-intro with-bottom-sep animate-this">
                <div class="col-twelve">
                    <h3>Contact</h3>
                    <h1>Get In Touch.</h1>

                    <p class="lead">เรามีแชทออนไลน์สามารถกดที่ icon ด้านซ้ายล่างเพื่อเชื่อมต่อหาเราได้เลย</p>
                </div>
            </div> <!-- end section-intro -->

            <div class="row contact-content">

<!--
                <div class="col-seven tab-full animate-this">

                    <h5>Send Us A Message</h5>

                    <form name="contactForm" id="contactForm" method="post">
                    <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                    </div>

                    <div class="row">
                            <div class="col-six tab-full">
                                <div class="form-field">
                                    <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                                </div>
                            </div>
                            <div class="col-six tab-full">
                                <div class="form-field">
                                    <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                            </div>
                            </div>
                    </div>

                    <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
                        </div>

                    <div class="form-field">
                        <button class="submitform">Submit</button>

                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                    </div>

                    </form>

                    <div id="message-warning"></div>

                    <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                    </div>

                </div>
            -->

                <div class="col-twelve tab-full contact-info end animate-this">

                    <h5>Contact Information</h5>

                    <div class="cinfo">
                        <h6>Where to Find Us</h6>
                        <p>
                            Thailand<br>
                            Bangkok<br>

                        </p>
                    </div> <!-- end cinfo -->

                    <div class="cinfo">
                        <h6>Email Us At</h6>
                        <p>
                            nick.suttpong@gmail.com<br>
                            info@portnick.com
                        </p>
                    </div> <!-- end cinfo -->

                    <div class="cinfo">
                        <h6>Call Us At</h6>
                        <p>
                            Phone: (+66) 90 986 1366<br>
                            Line ID: 0909861366<br>
                        </p>
                    </div>

                </div> <!-- end cinfo -->

            </div> <!-- end row contact-content -->

        </section>
    </div>
</template>

<script>
export default {
  name: 'contact'
}
</script>
