<template>
  <div class="footerWeb">
    <footer>
      <div class="footer-main">

        <div class="row">

          <div class="col-eight tab-full footer-about">

            <h4 class="h05">Portnick.</h4>

            <p>{{ textAbout }}</p>

          </div> <!-- end footer-about -->

          <div class="col-four tab-full footer-social">

            <h4 class="h05">Follow Us.</h4>

            <ul class="list-links">
              <li><a :href="facebookLink">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>

          </div> <!-- end footer-social -->

          <!--
                <div class="col-four tab-full footer-subscribe end">

                    <h4 class="h05">Get Notified.</h4>

                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa.</p>

                    <div class="subscribe-form">

                        <form id="mc-form" class="group" novalidate="true">

                                <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email" required="">

                            <button><i class="icon-mail"></i></button>

                            <label for="mc-email" class="subscribe-message"></label>

                            </form>

                    </div>
                </div>  -->

        </div> <!-- end row -->

      </div> <!-- end footer-main -->

      <div class="footer-bottom">

        <div class="row">

          <div class="col-twelve">
            <div class="copyright">
              <span>© Copyright Portnick.com 2019.</span>
              <span>by <a href="/">Portnick</a></span>
            </div>
          </div>

        </div>

      </div> <!-- end footer-bottom -->

      <div id="go-top">
        <a
          class="smoothscroll"
          title="Back to Top"
          href="#top"
        >
          <i
            class="fa fa-long-arrow-up"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'footerWeb',
  props: {
    facebookLink: String,
    textAbout: String
  }
}
</script>
