<template>
  <div class="home">
    <section id="home">
      <div class="overlay"></div>
      <div class="home-content-table">
        <div class="home-content-tablecell">
          <div class="row">
            <div class="col-twelve">

              <h3 class="animate-intro">Website &amp; Application</h3>
              <h1 class="animate-intro">
                Design <br>
                Domain.. Hosting
              </h1>

              <div class="more animate-intro">
                <a
                  class="smoothscroll button stroke"
                  href="#about"
                >
                  Learn More
                </a>
              </div>

            </div> <!-- end col-twelve -->
          </div> <!-- end row -->
        </div> <!-- end home-content-tablecell -->
      </div> <!-- end home-content-table -->

      <ul class="home-social-list">
        <li class="animate-intro">
          <a href="https://www.facebook.com/vacos.o.o"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="animate-intro">
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro">
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul> <!-- end home-social-list -->

      <div class="scrolldown">
        <a
          href="#about"
          class="scroll-icon smoothscroll"
        >
          Scroll Down
          <i
            class="fa fa-long-arrow-right"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </section> <!-- end home -->
  </div>
</template>

<script>
export default {
  name: 'home'
}
</script>
