<template>
  <div class="menuHeader">
    <header>

      <div class="header-logo">
        <a href="/">Portnick</a>
      </div>

      <a
        id="header-menu-trigger"
        href="#0"
      >
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
      </a>

      <nav id="menu-nav-wrap">

        <a
          href="#0"
          class="close-button"
          title="close"
        ><span>Close</span></a>

        <h3>Portnick</h3>

        <ul class="nav-list">
          <li class="current"><a
              class="smoothscroll"
              href="#home"
              title=""
            >Home</a></li>
          <li><a
              class="smoothscroll"
              href="#about"
              title=""
            >About</a></li>
          <li><a
              class="smoothscroll"
              href="#services"
              title=""
            >Services</a></li>
          <li><a
              class="smoothscroll"
              href="#portfolio"
              title=""
            >Works</a></li>
          <li><a
              class="smoothscroll"
              href="#contact"
              title=""
            >Contact</a></li>
        </ul>

        <ul class="header-social-list">
          <li>
            <a :href="facebookLink"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>

      </nav> <!-- end #menu-nav-wrap -->

    </header> <!-- end header -->
  </div>
</template>

<script>
export default {
  name: 'menuHeader',
  props: {
    facebookLink: String
  }
}
</script>
