<template>
  <div class="portfolio">

    <section id="portfolio">

      <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
          <div class="col-twelve">
            <h3>portfolio</h3>
            <h1>See Our Projects.</h1>

            <p class="lead">ด้านล่างคือตัวอย่างเว็บไซต์ หรือ Application ที่พัฒนาสำเร็จแล้ว เพื่อดูตัวอย่างสามารถกดูที่รูปและมีปุ่มเข้าสู่เว็บไซต์ของจริงได้เลย!!</p>
          </div>
        </div> <!-- end row section-intro -->

      </div> <!-- end intro-wrap -->

      <div class="row portfolio-content">
        <div class="col-twelve">
          <div
            id="folio-wrap"
            class="bricks-wrapper"
          >

            <div
              v-for="port in ports"
              :key="port.id"
              class="brick folio-item"
            >
              <div
                class="item-wrap animate-this"
                :data-src="port.image"
                :data-sub-html="'#' + port.id"
              >
                <a
                  href="javascript:void(0)"
                  class="overlay"
                >
                  <img
                    :src="port.image"
                    :alt="port.name"
                  >
                  <div class="item-text">
                    <span class="folio-types" v-html="port.tag"></span>
                    <h3 class="folio-title">{{ port.name }}</h3>
                  </div>
                </a>
                <a
                  :href="port.model"
                  class='details-link'
                  title="details"
                >
                  <i class="icon-link"></i>
                </a>
              </div> <!-- end item-wrap -->

              <div
                :id="port.id"
                class='hide'
              >
                <h4>{{ port.name }}</h4>
                <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
              </div>
            </div> <!-- end folio-item -->

          </div> <!-- end folio-wrap -->
        </div> <!-- end twelve -->
      </div> <!-- end portfolio-content -->

    </section> <!-- end portfolio -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PortService from '@/services/PortService'

export default {
  name: 'portfolio',
  data () {
    return {
      ports: [],
      provider: null,
      loading: false
    }
  },
  props: {
    apiURL: String
  },
  computed: {
    ...mapState(['token', 'tokenType'])
  },
  methods: {
    async handleScroll (event) {
      if (
        this.ports.length === 0 &&
        !this.loading &&
        this.token != null &&
        this.tokenType != null
      ) {
        this.loading = true
        const token = this.tokenType + ' ' + this.token
        const response = await PortService.getPort(token)
        const data = response.data
        if (data.success) {
          this.ports = data.data
          setTimeout(() => {
            ssInitAgain()
          }, 30)
        }
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>
