<template>
    <div class="services">

        <section id="services">

            <div class="overlay"></div>
            <div class="gradient-overlay"></div>

            <div class="row narrow section-intro with-bottom-sep animate-this">
                <div class="col-full">

                        <h3>Services</h3>
                    <h1>What I Do.</h1>

                    <p class="lead">เราเป็นนักพัฒนาเว็บไซต์ สามารถดูผลงานได้จากทางนี้เลยครับ และด้านล่างนี้จะบอกว่าขั้นตอนการพัฒนาของผมทำอย่างไรบ้างครับ</p>

            </div> <!-- end col-full -->
            </div> <!-- end row -->

            <div class="row services-content">

                <div class="services-list block-1-2 block-tab-full group">

                    <div class="bgrid service-item animate-this">

                        <span class="icon"><i class="icon-paint-brush"></i></span>

                        <div class="service-content">
                            <h3 class="h05">เก็บข้อมูล</h3>

                            <p>ขั้นตอนนี้เป็นส่วนสำคัญที่สุดเนื่องจาก การพัฒนาเว็บไซต์หนึ่งเว็บไซต์ต้องมาจากความต้องการของลูกค้า และเราจะดำเนินการสรุปความต้องการส่งให้ทางลูกค้าเพื่อพิจารณาและดำเนินการในขั้นต่อไป</p>
                        </div>

                        </div> <!-- end bgrid -->

                        <div class="bgrid service-item animate-this">

                            <span class="icon"><i class="icon-earth"></i></span>

                        <div class="service-content">
                            <h3 class="h05">Web Design</h3>

                            <p>เมื่อลูกค้าสรุปความต้องการเรียบร้อยแล้ว ขั้นตอนต่อไปคือการสร้างตัวอย่างเว็บไซต์ออกมาเป็นรูปภาพเพื่อให้ทางลูกค้าตรวจสอบ และดำเนินการในขั้นต่อไป
                            </p>
                        </div>

                    </div> <!-- end bgrid -->

                    <div class="bgrid service-item animate-this">

                        <span class="icon"><i class="icon-lego-block"></i></span>

                        <div class="service-content">
                            <h3 class="h05">Web Development</h3>

                            <p>เริ่มเข้าสู่การพัฒนาเว็บไซต์ ขั้นตอนจะใช้เวลาในการพัฒนาตามความยากง่ายของขั้นตอนแรก และทดสอบเว็บไซต์ให้สมบูรณ์ พร้อมนำเว็บไซต์ขึ้นสู่พื้นที่บนอินเทอร์เน็ต
                                </p>
                        </div>

                    </div> <!-- end bgrid -->

                        <div class="bgrid service-item animate-this">

                            <span class="icon"><i class="icon-megaphone"></i></span>

                        <div class="service-content">
                            <h3 class="h05">Marketing</h3>

                            <p>เมื่อเว็บไซต์พัฒนาสำเร็จและใช้งานได้แล้ว ขั้นตอนสุดท้ายคือการทำการตลาดให้ทางเว็บไซต์มีคนรู้จักและเข้าใช้งานต่อไป
                            </p>
                        </div>

                        </div> <!-- end bgrid -->

                </div> <!-- end services-list -->

            </div> <!-- end services-content -->

        </section>
    </div>
</template>

<script>
export default {
  name: 'services'
}
</script>
