<template>
  <div class="testimonials">
    <section id="testimonials">

      <div class="row">
        <div class="col-twelve">
          <h2 class="animate-this">What They Say About Us.</h2>
        </div>
      </div>

      <div class="row flex-container">

        <div
          id="testimonial-slider"
          class="flex-slider animate-this"
        >

          <ul class="slides">

            <li>
              <p>
                ตัวผมพัฒนาเว็บไซต์มามากกว่า 8 ปี สามารถทำเว็บไซต์เพื่อตอบโจทย์ความต้องการของลูกค้าได้ทั้งหมด ลองติดต่อมานะครับ ขอบคุณมากครับ
              </p>

              <div class="testimonial-author">
                <img
                  src="assets/images/avatars/me.jpg"
                  alt="Author image"
                >
                <div class="author-info">
                  สุทธิพงษ์ เรืองฤทธิ์
                  <span class="position">Website Devloper</span>
                </div>
              </div>
            </li> <!-- end slide -->

          </ul> <!-- end slides -->

        </div> <!-- end testimonial-slider -->

      </div> <!-- end flex-container -->

    </section> <!-- end testimonials -->
  </div>
</template>

<script>
export default {
  name: 'testimonials'
}
</script>
