<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8" />
    <title>
      รับทำเว็บไซต์ บริการจดโดเมน ออกแบบเว็บไซต์ | WEB DESIGN DEVELOPER |
      PORTNICK.COM
    </title>
    <meta name="description" content="บริการจัดทำเว็บไซต์แบบครบวงจร" />
    <meta
      name="keywords"
      content="รับทำเว็บไซต์, บริการจดโดเมน, โดเมน, ออกแบบเว็บไซต์, Create Website, Design, Domain, เว็บไซต์, Website"
    />
    <meta name="author" content="Suttipong Ruanglitt" />

    <meta
      property="og:title"
      content="รับทำเว็บไซต์ บริการจดโดเมน ออกแบบเว็บไซต์ | WEB DESIGN DEVELOPER | PORTNICK.COM"
    />
    <meta
      property="og:image"
      content="https://www.portnick.com/image/catalog/share_fb.jpg"
    />
    <meta property="og:description" content="บริการจัดทำเว็บไซต์แบบครบวงจร" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta
      property="og:image:secure_url"
      content="https://www.portnick.com/image/catalog/share_fb.jpg"
    />

    <!-- mobile specific metas
   ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/cs/bundle.min.css" />

    <!-- script
   ================================================== -->

    <!-- favicons
	================================================== -->
    <link
      rel="shortcut icon"
      href="<%= BASE_URL %>favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon" />

    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-51801480-1", "portnick.com");
      ga("send", "pageview");
    </script>
  </head>

  <body id="top">
    <div id="app"></div>

    <div id="preloader">
      <div id="loader"></div>
    </div>

    <!-- Java Script
   ================================================== -->
    <script src="<%= BASE_URL %>assets/js/all.min.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function() {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/582c04671aad883390e737fb/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
