<template>
  <div class="mainView">
    <MenuHeader :facebookLink="facebookLink" />
    <Home />
    <About :textAbout="textAbout" />
    <Services />
    <Portfolio />
    <Testimonials />
    <Clients />
    <Contact />
    <FooterWeb
      :facebookLink="facebookLink"
      :textAbout="textAbout"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import MenuHeader from "@/components/MenuHeader";
import Home from "@/components/Home";
import About from "@/components/About";
import Services from "@/components/Services";
import Portfolio from "@/components/Portfolio";
import Testimonials from "@/components/Testimonials";
import Clients from "@/components/Clients";
import Contact from "@/components/Contact";
import FooterWeb from "@/components/FooterWeb";
// import { mapState, mapMutations, mapActions } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "mainView",
  data() {
    return {
      facebookLink: "https://www.facebook.com/vacos.o.o",
      textAbout:
        "ผมชื่อสุทธิพงษ์ (นิค) เว็บไซต์นี้จัดทำขึ้นเพื่อแสดงผลงาน ของตัวกระผมเอง แชทหาผมจากไอคอนด้านซ้ายล่างได้เลยครับ"
    };
  },
  mounted() {
    this.getToken();
  },
  methods: {
    // ...mapMutations(["changeToken"]),
    ...mapActions(["getToken"])
  },
  computed: {
    // ...mapState(["token"])
  },
  components: {
    MenuHeader,
    Home,
    About,
    Services,
    Portfolio,
    Testimonials,
    Clients,
    Contact,
    FooterWeb
  }
};
</script>
